body { background-color: #f0f5fc; }
	a#left-arrow { background:url(images/blue/left-arrow.png) no-repeat; }	
	a#right-arrow { background:url(images/blue/right-arrow.png) no-repeat; }
		h2.featured-title a { color: #5c9ace; }
		h2.title a, h1.title { color: #5c9ace; }
			h3#reply-title, h3#comments { color: #5c9ace; }
				#footer { color:#89a6ad; }
					#footer h4.widget-title { color:#5c9ace; }
						.footer-widget a { color: #89a6ad; }
							.footer-widget a:hover { color: #779096; }
						p#copyright { color:#89a6ad; }	
							p#copyright a { color:#89a6ad; }	
				.widget h3.title { color:#5c9ace; }
					.widget ul li a { color:#89a6ad; }
						.widget ul li a:hover { color: #779096; }
					.wp-pagenavi span.current, .wp-pagenavi span.extend, .wp-pagenavi a:active, .wp-pagenavi a:hover { color:#5c9ace !important; }
						span.fn, span.fn a { color: #5c9ace; }